body{
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    text-align: center;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    color: #007bff;

}
.btn{
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.inp{
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 3px 0;
    outline:  none;
}
.tesk{
    margin-top: 20px;
    padding:0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color:gainsboro;
    border-radius: 5px;
    box-shadow: black;
}
.g{
   background-color: green;
   border: none;
   border-radius: 2px;
   
}
.y{
   background-color: yellow;
   border: none;
   border-radius: 2px;
   
   
}
.r{
   background-color: red;
   border: none;
   border-radius: 2px;
   
}
